/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    color: #3a3ad8;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.nav-links .active {
    color: #3a3ad8;
    font-weight: bold;
}

.nav-btn {
    padding: 10px 20px;
    background: #6366f1;
    border: none;
    border-radius: 6px;
    color: white;
}

/* BANNER */
.banner {
    height: 250px;
    background:
        linear-gradient(135deg, rgba(99,102,241,0.83), rgba(79,70,229,0.83)),
        url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3?q=80&w=1600") center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    color: white;
}

.banner h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 17px;
    opacity: 0.9;
}



/* APPOINTMENT SECTION */
.appointment-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
    gap: 60px;
}

/* LEFT FORM */
.form-box {
    width: 55%;
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(100,100,255,0.15);
}

.form-box h2 {
    margin-bottom: 25px;
    color: #1b1d8c;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    color: #444;
    font-size: 15px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #c8c9ff;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.row {
    display: flex;
    gap: 20px;
}

textarea {
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background: #6b63ff;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background: #574fe5;
}



/* RIGHT IMAGE */
.image-box {
    width: 45%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 28px rgba(100,100,255,0.2);
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}