/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
}

/* NAVBAR */
.navbar {
    height: 70px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.logo {
    font-size: 26px;
    color: #3c45d1;
    font-weight: bold;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.btn-appointment {
    background: #6366f1;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}


/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 120px;
    background: linear-gradient(to right, #e4e6ff, #f2f3ff);
    overflow: hidden;
}

/* LEFT PART */
.hero-left {
    width: 45%;
    z-index: 2;
}

.hero-left h1 {
    font-size: 55px;
    color: #1a1a8f;
    margin-bottom: 20px;
}

.hero-left p {
    width: 90%;
    font-size: 18px;
    color: #555;
    margin-bottom: 35px;
}

.hero-buttons button {
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-right: 15px;
}

.btn-main {
    background: #3b45ff;
    color: white;
}

.btn-outline {
    background: white;
    border: 2px solid #3b45ff;
    color: #3b45ff;
}

/* RIGHT PART */
.hero-right {
    width: 45%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.hero-image {
    width: 450px;  
    height: auto;
}


/* BACKGROUND CIRCLES */
.circle-big {
    position: absolute;
    right: -80px;
    top: 80px;
    width: 600px;
    height: 600px;
    background: #cfd2ff;
    border-radius: 50%;
    opacity: 0.35;
    z-index: 1;
}

.circle-small {
    position: absolute;
    right: 150px;
    top: 220px;
    width: 380px;
    height: 380px;
    background: #b8bdff;
    border-radius: 50%;
    opacity: 0.45;
    z-index: 1;
}


/* FOOTER */
.footer {
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    background: #3c45d1;
    color: white;
    font-size: 15px;
}
